USE [master]
GO
/****** Object:  Database [ToDoList.database.dev]    Script Date: 2023-11-07 12:06:18 PM ******/
CREATE DATABASE [ToDoList.database.dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList.database.dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToDoList.database.dev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoList.database.dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToDoList.database.dev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList.database.dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList.database.dev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023-11-07 12:06:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsToDoList]    Script Date: 2023-11-07 12:06:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsToDoList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](250) NOT NULL,
	[ItemDescription] [nvarchar](max) NOT NULL,
	[ItemStatus] [bit] NOT NULL,
 CONSTRAINT [PK_ItemsToDoList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231106165729_FirstMigration', N'7.0.13')
GO
SET IDENTITY_INSERT [dbo].[ItemsToDoList] ON 

INSERT [dbo].[ItemsToDoList] ([Id], [ItemName], [ItemDescription], [ItemStatus]) VALUES (5, N'Arash Kamkar Shahroudi', N'Tahe de Arash', 1)
INSERT [dbo].[ItemsToDoList] ([Id], [ItemName], [ItemDescription], [ItemStatus]) VALUES (6, N'Raafat', N'Tahe de raafat', 1)
SET IDENTITY_INSERT [dbo].[ItemsToDoList] OFF
GO
USE [master]
GO
